/Genaro-Ferrero/Java/Clase 6/nbproject/private/
/Genaro-Ferrero/Java/Clase 6/build/
/Genaro-Ferrero/Java/Encapsulamiento/nbproject/private/
/Genaro-Ferrero/Java/Herencia/nbproject/private/
/Genaro-Ferrero/Java/test/nbproject/private/
/Genaro-Ferrero/Java/Encapsulamiento/build/
/Genaro-Ferrero/Java/ContextoEstatico/nbproject/private/
/Genaro-Ferrero/Java/ContextoEstatico/build/
/Genaro-Ferrero/Java/Herencia/build/
/Genaro-Ferrero/Java/SobrecargaMetodos/nbproject/private/
/Genaro-Ferrero/Java/SobrecargaMetodos/build/
/Genaro-Ferrero/Java/Paquetes/nbproject/private/
/Genaro-Ferrero/Java/Paquetes/build/
/Genaro-Ferrero/Java/PalabraFinal/nbproject/private/
/Genaro-Ferrero/Java/PalabraFinal/build/
/Genaro-Ferrero/Java/Clase 8 y 7/ContextoEstatico/build/
/Genaro-Ferrero/Java/Clase 8 y 7/ContextoEstatico/nbproject/private/
/Genaro-Ferrero/Java/Arreglos/nbproject/private/
/Genaro-Ferrero/Java/Arreglos/build/
/Genaro-Ferrero/Java/Arreglos_Ejercicios/nbproject/private/
/Proyecto/nbproject/private/
/Proyecto/build/
